@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular-webfont.eot');
    src: url('../fonts/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush-regular-webfont.woff') format('woff'),
         url('../fonts/alexbrush-regular-webfont.ttf') format('truetype'),
         url('../fonts/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	background-image: url(../images/colorado1.jpg);
	background-size: cover;
	box-shadow: inset 0 0 30px #000000,
	            inset 0 0 70px hsla(0, 97%, 53%, 1);

}
#wrapper {
 margin-right: auto;
 margin-left: auto;
 width: 96%;
 background-color: hsla(0,0%,100%,.5);
}
header {
 margin-right:  1.0416667%;
 margin-left:  1.0416667%;
 width: 97.9166667%;
 background-color: hsla(60, 100%, 75%, .7);
}
header:hover {
	background-color: hsla(60, 100%, 50%, .7);
}
nav {
	display: table;
	width: 97.91666667%;
}
nav ul {
	display: table-row;
}
nav ul li {
 display: table-cell; 
 margin-right: 2.6595745%;
}
nav ul li a {
 height: 2.625em;
 line-height: 2.625em;
 text-decoration: none;
 font-family: 'alex_brushregular', sans-serif;
 font-size: 1.6875em;
 color: black;
}
nav ul li:last-child {
	text-align: right;
}
nav ul li:first-child {
	text-align: left;
}
nav ul li:nth-child(2n+3) a {
	color: red;
}
h1 {
	font-family: 'alex_brushregular';
}
em {
	text-shadow: 4px 4px 1px hsla(60, 100%, 75%, .7);
}
aside {
 margin-right:  1.0416667%;
 margin-left:  1.0416667%;
 float: left;
 background-color: #fe9c00;
 width: 22.7083333%;
 background: linear-gradient(90deg, #fe9c00 0%, #e4e4e4 50%, #fe9c00 100%);
}
aside img {
	box-shadow: 0px 3px 5px #444444;
}
#content {
 margin-right:  1.0416667%;
 float: right;
 margin-left:  1.0416667%;
 width: 72.7083333%;
 background-color:white;
 background-image:
 -webkit-radial-gradient(hsla(0, 0%, 87%, 0.31) 9px, transparent 10px),
 -webkit-repeating-radial-gradient(hsla(0, 0%, 87%, 0.31) 0,
 hsla(0, 0%, 87%, 0.31) 4px, transparent 5px,
 transparent 20px, hsla(0, 0%, 87%, 0.31) 21px,
 hsla(0, 0%, 87%, 0.31) 25px, transparent 26px,
 transparent 50px);
 background-size: 30px 30px, 90px 90px;
 background-position: 0 0;
}
#content a {
 text-decoration: none;
 font: 1.25em /* 36px ÷ 16 */ 'BebasNeueRegular';
 background-color: #b01c20;
 border-radius: 8px;
 color: white;
 padding: 30px;
 float: left;
 background: -webkit-linear-gradient(90deg, #b01c20 0%,
 #f15c60 100%);
 margin-top: 30px;
 box-shadow: 5px 5px 5px hsla(0, 0%, 26.6667%, 0.8);
 text-shadow: 0px 1px black;
 border: 1px solid #bfbfbf;
 -webkit-transition-property: border, color, text-shadow;
 -webkit-transition-duration: 2s, 3s, 8s;
}
#content a:hover {
border: 1px solid #000;
color: #000;
text-shadow: 0px 1px white;
}
footer {
 margin-right:  1.0416667%;
 margin-left:  1.0416667%;
 clear: both;
 background-color: #663300;
 width: 97.9166667%;
}
img {
 max-width: 100%;
}
.sideBlock img {
	max-width: 45%;
}
.oscarMain {
 float: left;
 width: 28.9398281%; /* 698 ÷ 202 */
 max-width: 202px;
}
p::first-line {
	color: green;
}
* {
	transition: all 1s;
}
nav ul li:nth-child(1) a:hover {
	transform: scale(1.7);
	transform-origin: 0 0;
}nav ul li:nth-child(2) a:hover {
	transform: translate(40px, 0px);
}nav ul li:nth-child(3) a:hover {
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: left left;
}nav ul li:nth-child(4) a:hover {
	transform: skew(10deg, 2deg);
}nav ul li:nth-child(5) a:hover {
	transform: matrix(1.678, -.256, 1.522, 2.333, -51.533, -1.989);
}
.Qcontainer {
 height: 100%;
 width: 28%;
 position: relative;
 -webkit-perspective: 200;
 float: left;
 margin-right: 2%;
}
.film {
 width: 100%;
 height: 15em;
 -webkit-transform-style: preserve-3d;
 -webkit-transition: 1s;
 }
.Qcontainer:hover .film {
 -webkit-transform: rotateY(180deg);
}
.face {
 position: absolute;
 -webkit-backface-visibility: hidden;
}
.back {
 width: 66%;
 height: 127%;
 -webkit-transform: rotateY(180deg);
 background: #3b3b3b;
 background: -webkit-linear-gradient(top,
 rgba(0,0,0,0.65) 0%,
 rgba(0,0,0,0) 100%);
 padding: 15%;
}
@keyframes warning {
 0% {
 text-shadow: 0px 0px 4px #000000;
 }
 50% {
 text-shadow: 0 0 20px #000000;
 }
 100% {
 text-shadow: 0px 0px 4px #000000;
 }
}
.back h5 {
 font-size: 4em;
 color: #f2050b;
 text-align: center;
 animation: warning 1.5s infinite ease-in;
}
nav ul li a:hover {
 animation: warning 1.5s infinite ease-in;
}
@-webkit-keyframes swing {
 from {
 transform: rotate(3deg);
 }
 20% {
 transform: rotate(7deg);
 }
 60% {
 transform: rotate(10deg);
 }
 80% {
 transform: rotate(7deg);
 }
 to {
 transform: rotate(3deg);
 }
}
.unSung a:nth-child(odd) img {
 transform: rotate(3deg);
 animation: swing 0.1s 5 ease-in;
}
.unSung a:nth-child(even) img {
 transform: rotate(-3deg);
 animation: swing 0.1s 5 0.3s ease-in;
}
.overHyped a:nth-child(odd) img {
 transform: rotate(3deg);
 animation: swing 0.1s 5 0.2s ease-in;
}
.overHyped a:nth-child(even) img {
 transform: rotate(-3deg);
 animation: swing 0.1s 5 0.5s ease-in;
}
@media screen and (max-width: 768px) {
 #wrapper,header,footer,nav {
 width: 768px;
 margin: 0px;
 }
 #logo {
 text-align:center;
 }
 nav {
 text-align: center;
 background-image: none; 
 border-top-color: #bfbfbf;
 border-top-style: double;
 border-top-width: .25em;
 padding-top: 1.25em;
 }
 nav ul li a {
 background-color: #dedede;
 line-height: 1.5em;
 font-size: 2.5em;
 }
 #content, aside {
 margin-top: 1.25em;
 padding-right:  1.0416667%;
 padding-left:  1.0416667%;
 width: 728px;
 }
 .oscarMain {
 margin-right: 30px;
 margin-top: 0px;
 width: 150px;
 height: 394px;
 }
 aside {
 border-right: none;
 border-top: .125em solid #e8e8e8;
 padding-top: 1.25em;
 margin-bottom: 1.25em;
 }
 .sideBlock {
 width: 46%;
 float: left;
 }
 .overHyped {
 margin-top: 0px;
 margin-left: 50px;
 }
} 